vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|29 Jan 2008 10:00:50 -0000
vti_extenderversion:SR|12.0.0.4518
vti_author:SR|AD-INS\\henry
vti_modifiedby:SR|AD-INS\\henry
vti_timecreated:TR|29 Jan 2008 10:00:50 -0000
vti_cacheddtm:TX|29 Jan 2008 10:00:50 -0000
vti_filesize:IR|429
vti_backlinkinfo:VX|
