<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory name="SmartDealer">
        <property name="hibernate.bytecode.use_reflection_optimizer">true</property>
        <property name="hibernate.cache.provider_class">net.sf.ehcache.hibernate.Provider</property>
        <property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property>
        <property name="hibernate.cache.use_query_cache">true</property>
        <property name="hibernate.cache.use_second_level_cache">true</property>
        <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
        <property name="hibernate.connection.isolation">1</property>
        <property name="hibernate.connection.password">Alpha2014</property>
        <property name="hibernate.connection.pool_size">1</property>
        <property name="hibernate.connection.url">jdbc:sqlserver://localhost:1433;databaseName=SmartDealer</property>
        <property name="hibernate.connection.username">sa</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.default_schema">dbo</property>
        <property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
        <property name="hibernate.format_sql">false</property>
        <property name="hibernate.search.autoregister_listeners">false</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.use_sql_comments">false</property>
        <property name="hibernate.validator.apply_to_ddl">auto</property>
        <mapping class="com.adibrata.smartdealer.model.PettyCashDtl" />
        <mapping class="com.adibrata.smartdealer.model.AssetServiceHdr" />
        <mapping class="com.adibrata.smartdealer.model.PdcDtl" />
        <mapping class="com.adibrata.smartdealer.model.InsCompany" />
        <mapping class="com.adibrata.smartdealer.model.JrnlDtl" />
        <mapping class="com.adibrata.smartdealer.model.CoaSchmDtl" />
        <mapping class="com.adibrata.smartdealer.model.CoyCustWhInfo" />
        <mapping class="com.adibrata.smartdealer.model.MsMenu" />
        <mapping class="com.adibrata.smartdealer.model.PersCust" />
        <mapping class="com.adibrata.smartdealer.model.PdcHistory" />
        <mapping class="com.adibrata.smartdealer.model.Taksasi" />
        <mapping class="com.adibrata.smartdealer.model.PettyCashHdr" />
        <mapping class="com.adibrata.smartdealer.model.BucketAgingReport" />
        <mapping class="com.adibrata.smartdealer.model.MsTable" />
        <mapping class="com.adibrata.smartdealer.model.CoaSchmHdr" />
        <mapping class="com.adibrata.smartdealer.model.MasterType" />
        <mapping class="com.adibrata.smartdealer.model.MsRole" />
        <mapping class="com.adibrata.smartdealer.model.InsCompanyOffice" />
        <mapping class="com.adibrata.smartdealer.model.DailyAraging" />
        <mapping class="com.adibrata.smartdealer.model.OtherRcvHdr" />
        <mapping class="com.adibrata.smartdealer.model.AgrmntInsCust" />
        <mapping class="com.adibrata.smartdealer.model.Stock" />
        <mapping class="com.adibrata.smartdealer.model.AgrmntInsInsco" />
        <mapping class="com.adibrata.smartdealer.model.CoyCustContactInfo" />
        <mapping class="com.adibrata.smartdealer.model.PayReqHdr" />
        <mapping class="com.adibrata.smartdealer.model.InsCompanyOfficeFee" />
        <mapping class="com.adibrata.smartdealer.model.CoyCustComptInfo" />
        <mapping class="com.adibrata.smartdealer.model.Sales" />
        <mapping class="com.adibrata.smartdealer.model.StockDocument" />
        <mapping class="com.adibrata.smartdealer.model.BankAccount" />
        <mapping class="com.adibrata.smartdealer.model.Supplier" />
        <mapping class="com.adibrata.smartdealer.model.OtherRcvDtl" />
        <mapping class="com.adibrata.smartdealer.model.SuspendReceive" />
        <mapping class="com.adibrata.smartdealer.model.CoyCustShareInfo" />
        <mapping class="com.adibrata.smartdealer.model.EntrustDtl" />
        <mapping class="com.adibrata.smartdealer.model.AgrmntInsStandardInfo" />
        <mapping class="com.adibrata.smartdealer.model.PurchaseOrderDtl" />
        <mapping class="com.adibrata.smartdealer.model.CustomerBankInfo" />
        <mapping class="com.adibrata.smartdealer.model.SuspendReverse" />
        <mapping class="com.adibrata.smartdealer.model.OtherDsbHdr" />
        <mapping class="com.adibrata.smartdealer.model.PersCustOmsetInfo" />
        <mapping class="com.adibrata.smartdealer.model.PersCustResidenceInfo" />
        <mapping class="com.adibrata.smartdealer.model.EntrustHdr" />
        <mapping class="com.adibrata.smartdealer.model.CoyCustLegalInfo" />
        <mapping class="com.adibrata.smartdealer.model.PaymentVoucher" />
        <mapping class="com.adibrata.smartdealer.model.AdvanceCash" />
        <mapping class="com.adibrata.smartdealer.model.Currency" />
        <mapping class="com.adibrata.smartdealer.model.PurchaseOrderHdr" />
        <mapping class="com.adibrata.smartdealer.model.SupplierAccInfo" />
        <mapping class="com.adibrata.smartdealer.model.DanaTunai" />
        <mapping class="com.adibrata.smartdealer.model.AgrmntReffInfo" />
        <mapping class="com.adibrata.smartdealer.model.ServiceItem" />
        <mapping class="com.adibrata.smartdealer.model.AgrmntMnt" />
        <mapping class="com.adibrata.smartdealer.model.JrnlHdr" />
        <mapping class="com.adibrata.smartdealer.model.AssetDocMaster" />
        <mapping class="com.adibrata.smartdealer.model.AgrmntIns" />
        <mapping class="com.adibrata.smartdealer.model.AdvanceCashReversal" />
        <mapping class="com.adibrata.smartdealer.model.PersCustEmergencyInfo" />
        <mapping class="com.adibrata.smartdealer.model.GoLive" />
        <mapping class="com.adibrata.smartdealer.model.Office" />
        <mapping class="com.adibrata.smartdealer.model.AgrmntInsEndorsInfo" />
        <mapping class="com.adibrata.smartdealer.model.InstSchedule" />
        <mapping class="com.adibrata.smartdealer.model.MsBigMenuList" />
        <mapping class="com.adibrata.smartdealer.model.OtherDsbDtl" />
        <mapping class="com.adibrata.smartdealer.model.SuspendAllocation" />
        <mapping class="com.adibrata.smartdealer.model.AgrmntBankStatInfoDtl" />
        <mapping class="com.adibrata.smartdealer.model.AssetMaster" />
        <mapping class="com.adibrata.smartdealer.model.SalesOrderHdr" />
        <mapping class="com.adibrata.smartdealer.model.Invoice" />
        <mapping class="com.adibrata.smartdealer.model.FundingCoy" />
        <mapping class="com.adibrata.smartdealer.model.PersCustCcinfo" />
        <mapping class="com.adibrata.smartdealer.model.AgrmntAssetOldOwnerInfo" />
        <mapping class="com.adibrata.smartdealer.model.Coamaster" />
        <mapping class="com.adibrata.smartdealer.model.AgrmntAssetDoc" />
        <mapping class="com.adibrata.smartdealer.model.AgrmntEmployeeInfo" />
        <mapping class="com.adibrata.smartdealer.model.TransJob" />
        <mapping class="com.adibrata.smartdealer.model.PayHistDtl" />
        <mapping class="com.adibrata.smartdealer.model.Customer" />
        <mapping class="com.adibrata.smartdealer.model.MsUser" />
        <mapping class="com.adibrata.smartdealer.model.AgrmntAssetLevelInfo" />
        <mapping class="com.adibrata.smartdealer.model.PersCustFinancialData" />
        <mapping class="com.adibrata.smartdealer.model.CoyCust" />
        <mapping class="com.adibrata.smartdealer.model.SalesOrderDtl" />
        <mapping class="com.adibrata.smartdealer.model.Agrmnt" />
        <mapping class="com.adibrata.smartdealer.model.CashierHistory" />
        <mapping class="com.adibrata.smartdealer.model.AgrmntInvoice" />
        <mapping class="com.adibrata.smartdealer.model.ServiceHdr" />
        <mapping class="com.adibrata.smartdealer.model.Holiday" />
        <mapping class="com.adibrata.smartdealer.model.PersCustOtherBussinessInfo" />
        <mapping class="com.adibrata.smartdealer.model.AgrmntBankStatementInfo" />
        <mapping class="com.adibrata.smartdealer.model.AgrmntMailingInfo" />
        <mapping class="com.adibrata.smartdealer.model.AssetCategory" />
        <mapping class="com.adibrata.smartdealer.model.ServiceDtl" />
        <mapping class="com.adibrata.smartdealer.model.PayHistHdr" />
        <mapping class="com.adibrata.smartdealer.model.SalesInvoice" />
        <mapping class="com.adibrata.smartdealer.model.PersCustLegalInfo" />
        <mapping class="com.adibrata.smartdealer.model.AccountPayable" />
        <mapping class="com.adibrata.smartdealer.model.AssetServiceMaster" />
        <mapping class="com.adibrata.smartdealer.model.MsUserRole" />
        <mapping class="com.adibrata.smartdealer.model.ZipCode" />
        <mapping class="com.adibrata.smartdealer.model.ReturPurchaseHdr" />
        <mapping class="com.adibrata.smartdealer.model.CoyCustFinancialInfo" />
        <mapping class="com.adibrata.smartdealer.model.AssetAttribute" />
        <mapping class="com.adibrata.smartdealer.model.AssetType" />
        <mapping class="com.adibrata.smartdealer.model.DeliveryOrder" />
        <mapping class="com.adibrata.smartdealer.model.Workshop" />
        <mapping class="com.adibrata.smartdealer.model.AgrmntFund" />
        <mapping class="com.adibrata.smartdealer.model.Application" />
        <mapping class="com.adibrata.smartdealer.model.CashBankDtl" />
        <mapping class="com.adibrata.smartdealer.model.MsMenuRole" />
        <mapping class="com.adibrata.smartdealer.model.ReturSalesDtl" />
        <mapping class="com.adibrata.smartdealer.model.PaymentReversal" />
        <mapping class="com.adibrata.smartdealer.model.PersCustEntInfo" />
        <mapping class="com.adibrata.smartdealer.model.Partner" />
        <mapping class="com.adibrata.smartdealer.model.TrxSeqNo" />
        <mapping class="com.adibrata.smartdealer.model.ReturPurchaseDtl" />
        <mapping class="com.adibrata.smartdealer.model.PayReqDtl" />
        <mapping class="com.adibrata.smartdealer.model.TrxConfigHdr" />
        <mapping class="com.adibrata.smartdealer.model.PdcHdr" />
        <mapping class="com.adibrata.smartdealer.model.AgmntAssetEmployeeInfo" />
        <mapping class="com.adibrata.smartdealer.model.EarlyTermination" />
        <mapping class="com.adibrata.smartdealer.model.AgrmntGoLive" />
        <mapping class="com.adibrata.smartdealer.model.PersCustJobInfo" />
        <mapping class="com.adibrata.smartdealer.model.Employee" />
        <mapping class="com.adibrata.smartdealer.model.PersCustFamilyInfo" />
        <mapping class="com.adibrata.smartdealer.model.AgrmntAssetOwnerInfo" />
        <mapping class="com.adibrata.smartdealer.model.AgrmntColl" />
        <mapping class="com.adibrata.smartdealer.model.AgrmntInsAsset" />
        <mapping class="com.adibrata.smartdealer.model.PersCustTrusteeInfo" />
        <mapping class="com.adibrata.smartdealer.model.Pdcreceipt" />
        <mapping class="com.adibrata.smartdealer.model.TrxConfigDtl" />
        <mapping class="com.adibrata.smartdealer.model.PurchaseInvoice" />
        <mapping class="com.adibrata.smartdealer.model.CashBankHdr" />
        <mapping class="com.adibrata.smartdealer.model.ReturSalesHdr" />
        <mapping class="com.adibrata.smartdealer.model.PaymentReceive" />
        <mapping class="com.adibrata.smartdealer.model.Leasing" />
        <mapping class="com.adibrata.smartdealer.model.ResetPasswordLog" />
        <mapping class="com.adibrata.smartdealer.model.Pvdetail" />
        <mapping class="com.adibrata.smartdealer.model.AgrmntAsset" />
        <mapping class="com.adibrata.smartdealer.model.AgrmntAssetSpbkbinfo" />
        <mapping class="com.adibrata.smartdealer.model.PdcClear" />
        <mapping class="com.adibrata.smartdealer.model.Reschedule" />
        <mapping class="com.adibrata.smartdealer.model.AgrmntAssetLoctInfo" />
    </session-factory>
</hibernate-configuration>
